@import "bourbon/bourbon";

$gray_text: #999;
$container_padding: 20px;
$blue1: #45718C;
$blue2: #314650;

@mixin dust-bg {
  background-image: url("/img/dust.png");
  background-repeat: repeat;
}

body {
  font-family: "museo-sans", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

p {
  text-align: justify;
}

header {
  background-color: $blue1;
  padding: 10px 0px 8px;
  border-bottom: 1px solid #000833;
  @include box-shadow(0px 1px 1px #EEE);
  .brand {
    cursor: pointer;
    color: #EEE;
    font-size: 24px;
    line-height: 24px;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.3);
    &:hover {
      @include transition(all 0.3s linear);
      color: white;
    }
  }
}

.section-divider {
  height: 3px;
  background-color: $blue1;
}

.divider {
  margin: 10px 0px;
  height: 1px;
  background-color: #AAA;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}


#landing_preparation {
  display: none;
}

#landing {
  height: 400px;
  background-color: #2C2C2C;
  overflow: hidden;
  .landing-image {
    position: relative;
    img {
      display: block;
      margin: 0 auto;
      height: 400px;
      width: 940px;
    }
    .caption {
      position: absolute;
      bottom: 40px;
      right: 40px;
      padding: 30px;
      background-color: rgba(0, 0, 0, 0.85);
      color: white;
      font-size: 24px;
      font-weight: 200;
    }
    .attribution {
      position: absolute;
      bottom: 10px;
      right: 40px;
      padding: 2px 5px;
      background-color: rgba(0, 0, 0, 0.85);
      font-size: 11px;
      font-weight: 200;
      a {
        color: white;
        &:hover {
          color: #08C;
          text-decoration: none;
        }
      }
    }
  }
}

#mission {
  @include dust-bg;
  padding-top: 40px;
  .title {
    color: $blue2;
    font-size: 40px;
    line-height: 48px;
    font-weight: 200;
    text-align: center;
  }
  .title-underline {
    height: 2px;
    width: 300px;
    background-color: $blue2;
    @include border-radius(1px);
    margin: 10px auto 20px;
  }
  p.large {
    font-size: 18px;
    line-height: 120%;
  }
  p.mission {
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    font-weight: 500;
  }
}

footer {
  @include dust-bg;
  padding-bottom: 20px;
  span {
    color: $gray_text;
    font-size: 11px;
    padding: 10px;;
  }
  ul {
    font-size: 12px;
    display: inline-block;
    margin: 0;
    li {
      display: inline-block;
      margin: 0 3px;
      list-style: none;
    }
  }
}
