@import "bourbon/bourbon";

$gray_text: #999;
$container_padding: 20px;

@mixin dust-bg {
  background-image: url("/img/dust.png");
  background-repeat: repeat;
}

body {
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#landing {
  background-color: #F3F9FD;
  padding-top: 30px;
  padding-bottom: 60px;
  border-bottom: 1px solid #CCC;
  h1.main-title {
    text-align: center;
    font-size: 100px;
    line-height: 100px;
    font-variant: small-caps;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    font-family: "ff-nuvo-web-pro";
  }
}

#content {
  @include dust-bg;
}

#main_content {
  padding-top: $container_padding;
  h2 {
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
  }
}

#sidebar {
  @include box-sizing(border-box);

  // Positioning
  margin-right: -$container_padding;
  padding-left: $container_padding;
  padding-top: 30px;

  float: right;
  .sidebar-fixed {
    width: 220px;
    &.fixed {
      position: fixed;
      top: 100px;
    }
    ul#toc {
      margin: 0;
      width: 230px;
      background-color: #BADCFF;
      border: 1px solid #2366A8;
      @include box-shadow(0px 3px 5px rgba(0, 0, 0, 0.25));
      @include border-radius(4px);
      li {
        text-decoration: none;
        list-style: none;
        padding: 5px;
        border-bottom: 1px solid #2366A8;
        @include box-shadow(0px 1px #EEE);
        cursor: pointer;
        &:last-child {
          border: none;
          @include box-shadow(none);
        }
        &:hover, &.selected {
          color: white;
          text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
          background-color: #2366A8;
          @include transition(background-color 0.1s linear);
        }
      }
    }
    #contact {
      margin-top: 120px;
    }
  }
}

footer {
  @include dust-bg;
  padding-bottom: 20px;
  .divider {
    margin: 10px;
    margin-right: 240px;
    height: 1px;
    background-color: #AAA;
    @include box-shadow(0px 1px 0px rgba(255, 255, 255, 0.8));
  }
  span {
    color: $gray_text;
    font-size: 11px;
    padding: 10px;;
  }
}
